//
//	SHUtils_C.debug.xcconfig
//	SHUtils_C
//
//	Created by Joel Pridgen on 3/2/19.
//	Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//#include "../Configs/MacOSArchs.xcconfig"
#include "SHUtils_C.base.xcconfig"

