//
//  SH_C_Config.xcconfig
//  SH_C
//
//  Created by Joel Pridgen on 2/24/19.
//  Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


#include "../Configs/SHWorkspace.xcconfig"


FRAMEWORK_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/**

SHUTILS_C_H_DIR = $(BUILT_PRODUCTS_DIR)/include/SHUtils_C
SHDATETIME_H_DIR = $(BUILT_PRODUCTS_DIR)/include/SHDatetime

HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/** $(SHDATETIME_H_DIR) $(SHUTILS_C_H_DIR)

//DEFINES_MODULE = YES

//MODULEMAP_FILE = $(SRCROOT)/Headers/module.modulemap

PUBLIC_HEADERS_FOLDER_PATH = include/$(PRODUCT_NAME)
