<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Alpha</string>
	<string>Beta</string>
	<string>Cain</string>
	<string>Delta</string>
	<string>Epsilon</string>
	<string>Foxtrot</string>
	<string>September</string>
	<string>October</string>
	<string>November</string>
	<string>Kilo</string>
	<string>Juliett</string>
	<string>Romeo</string>
	<string>Silver</string>
	<string>Deckard</string>
	<string>Sierra</string>
	<string>Tango</string>
	<string>Zeta</string>
	<string>Theta</string>
	<string>July</string>
	<string>Ludwig</string>
	<string>Tyrell</string>
	<string>Lambda</string>
	<string>Mu</string>
	<string>London</string>
	<string>Victor</string>
	<string>Quintin</string>
	<string>Gold</string>
	<string>Whiskey</string>
	<string>Xray</string>
	<string>Zulu</string>
	<string>Pi</string>
	<string>Rho</string>
	<string>Antilles</string>
	<string>Blanca</string>
	<string>Sigma</string>
	<string>Tau</string>
	<string>India</string>
	<string>Hector</string>
	<string>Quebec</string>
	<string>Waltz</string>
	<string>Sapphire</string>
	<string>Tokyo</string>
	<string>Ramesses</string>
	<string>Washington</string>
	<string>Darius</string>
	<string>Emerald</string>
	<string>Midgard</string>
	<string>Futura</string>
	<string>Charlotte</string>
	<string>Flanders</string>
	<string>Berlin</string>
	<string>Onion</string>
	<string>Ruby</string>
	<string>David</string>
	<string>Pizza</string>
	<string>Lazlo</string>
	<string>Kong</string>
	<string>Jerico</string>
	<string>Diamond</string>
	<string>Black</string>
	<string>White</string>
	<string>Olaf</string>
	<string>Biggs</string>
	<string>Wedge</string>
	<string>Tyrannus</string>
	<string>Richter</string>
	<string>Medusa</string>
	<string>Swan</string>
	<string>Gemini</string>
	<string>Noir</string>
	<string>Xerxes</string>
	<string>TNT</string>
	<string>Plutonia</string>
	<string>Cerberus</string>
	<string>Tiberius</string>
	<string>Arcturus</string>
	<string>Prime</string>
	<string>Tarsonis</string>
	<string>Babylon</string>
	<string>Sparta</string>
	<string>Atlanta</string>
	<string>Yutani</string>
	<string>Python</string>
	<string>Ridley</string>
	<string>Midway</string>
	<string>Bismark</string>
	<string>Dextera</string>
	<string>Dominus</string>
	<string>Jejunum</string>
	<string>Superior</string>
	<string>Distal</string>
	<string>Eurebus</string>
	<string>Indigo</string>
	<string>Xs</string>
	<string>Rex</string>
	<string>Titan</string>
	<string>Zen</string>
	<string>Apex</string>
	<string>Omega</string>
	<string>Zed</string>
</array>
</plist>
