//
//	SH_C_Config.xcconfig
//	SH_C
//
//	Created by Joel Pridgen on 2/24/19.
//	Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


#include "../Configs/SHWorkspace.xcconfig"
#include "../Configs/C_Lib.xcconfig"

HEADER_SEARCH_PATHS = $(SHUTILS_C_H_DIR)/Headers $(SHDATETIME_H_DIR)/Headers $(inherited)

//DEFINES_MODULE = YES

SHUTILS_C_MODMAP_FLAG = -fmodule-map-file=$(SHUTILS_C_H_DIR)/Modules/module.modulemap
SHDATETIME_MODMAP_FLAG = -fmodule-map-file=$(SHDATETIME_H_DIR)/Modules/module.modulemap

//MODULEMAP_FILE = $(SRCROOT)/Headers/module.modulemap
OTHER_CFLAGS = $(inherited) $(INTTYPES_MODMAP_FLAG) $(SHUTILS_C_MODMAP_FLAG) $(SHDATETIME_MODMAP_FLAG)

