<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HOME</key>
	<dict>
		<key>TEST_CUBE</key>
		<dict>
			<key>NAME</key>
			<string>Test Cube</string>
			<key>DESCRIPTION</key>
			<string>[Placeholder]</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>50</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>POLYGON</key>
		<dict>
			<key>NAME</key>
			<string>Polygon</string>
			<key>DESCRIPTION</key>
			<string>[Placeholder]</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>50</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>DUMMY</key>
		<dict>
			<key>NAME</key>
			<string>Dummy</string>
			<key>DESCRIPTION</key>
			<string>[Placeholder]</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>50</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>PRACTICE_TARGET</key>
		<dict>
			<key>NAME</key>
			<string>Practice Target</string>
			<key>DESCRIPTION</key>
			<string>[Placeholder]</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>50</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
	</dict>
	<key>SAFE_SPACE</key>
	<dict>
		<key>SEC_DRONE</key>
		<dict>
			<key>NAME</key>
			<string>Security Drone</string>
			<key>DESCRIPTION</key>
			<string>Security drones never take breaks. As a result, their judgement falters, and they get trigger happy, attacking peaceful space explorers</string>
			<key>ATTACK_LVL</key>
			<integer>2</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>75</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>STOP_LIGHT</key>
		<dict>
			<key>NAME</key>
			<string>Unending Stop Light</string>
			<key>DESCRIPTION</key>
			<string>Some space explorers wait too long for these signals to change. They forget they can go around. Sometimes the light just needs a good whack</string>
			<key>ATTACK_LVL</key>
			<integer>2</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>75</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>WHISTLE_WARDEN</key>
		<dict>
			<key>NAME</key>
			<string>Whistle Warden</string>
			<key>DESCRIPTION</key>
			<string>Whistle wardens are notoriously inefficient because they obsess over minute imperfections and fail to cover much ground</string>
			<key>ATTACK_LVL</key>
			<integer>2</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>75</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
	</dict>
	<key>NEBULA</key>
	<dict>
		<key>LOST_SAT</key>
		<dict>
			<key>NAME</key>
			<string>Lost Communication Satalite</string>
			<key>DESCRIPTION</key>
			<string>The thick nebula dust disrupts these satellites&apos; link to home base. Not knowing how to think for themselves, the satellites attack anyone</string>
			<key>ATTACK_LVL</key>
			<integer>4</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>125</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>DUST_FAIRY</key>
		<dict>
			<key>NAME</key>
			<string>Dust Fairy</string>
			<key>DESCRIPTION</key>
			<string>Dust Fairies are fiercely territorial of their dust clouds. They often lose stuff and have to search all of their dust when they need a tool</string>
			<key>ATTACK_LVL</key>
			<integer>4</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>125</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>SENTIENT_CLOUD</key>
		<dict>
			<key>NAME</key>
			<string>Sentient Space Cloud</string>
			<key>DESCRIPTION</key>
			<string>Sentient space clouds enlarge themselves when they want to scare away enemies and shrink themselves to lull pray into false security</string>
			<key>ATTACK_LVL</key>
			<integer>4</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>125</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>CLOUD_FORTRESS</key>
		<dict>
			<key>NAME</key>
			<string>Cloud Fortress</string>
			<key>DESCRIPTION</key>
			<string>Many explorers underestimate the cloud fortress because its weaponry is obscured. Smart explorers know to ask as many questions as needed</string>
			<key>ATTACK_LVL</key>
			<integer>4</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>125</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
	</dict>
	<key>ASTEROID_FIELD</key>
	<dict>
		<key>BIG_ASTEROID</key>
		<dict>
			<key>NAME</key>
			<string>Big Ass Asteroid</string>
			<key>DESCRIPTION</key>
			<string>Big ass asteroids at first seem like too big of a problem to manage but they can be broken down into smaller more manageable asteroids</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>1</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>10</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>MINER</key>
		<dict>
			<key>NAME</key>
			<string>Rogue Miner</string>
			<key>DESCRIPTION</key>
			<string>Rogue miners used to share their gems across the galaxy, but the mines have warped them, and now they only hoard their gems for themselves</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>1</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>10</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>AMBUSH_PIRATES</key>
		<dict>
			<key>NAME</key>
			<string>Sneaky Ambush Pirates</string>
			<key>DESCRIPTION</key>
			<string>These Sneaky Pirates hide behind asteroids and surprise the unsuspecting space explorer. They&apos;re sorta like deadlines.</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>1</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>10</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>PL</string>
		</dict>
		<key>SPACE_GOLEM</key>
		<dict>
			<key>NAME</key>
			<string>Space Golem</string>
			<key>DESCRIPTION</key>
			<string>Space Golems aim for a ship&apos;s weak spots with their boulders. It&apos;s a good idea to get advice about weaknesses before a golem appears</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>1</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>10</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>MOTHS</key>
		<dict>
			<key>NAME</key>
			<string>Asteroid Moths</string>
			<key>DESCRIPTION</key>
			<string>Asteroid moths use camouflage to hide from predators, but they are easily spooked and often abandon their hiding spots to attack</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>1</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>10</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>PL</string>
		</dict>
	</dict>
	<key>EMPTY_SPACE</key>
	<dict>
		<key>DREAD_PIRATES</key>
		<dict>
			<key>NAME</key>
			<string>Dread Pirates</string>
			<key>DESCRIPTION</key>
			<string>Dread pirates have been pirating for many years. Many explorers get discouraged when comparing their novice years to a dread&apos;s many years</string>
			<key>ATTACK_LVL</key>
			<integer>4</integer>
			<key>DEFENSE_LVL</key>
			<integer>2</integer>
			<key>BASE_XP_REWARD</key>
			<integer>2</integer>
			<key>HP</key>
			<integer>125</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>10</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>PL</string>
		</dict>
		<key>GRAVITY_HOLE</key>
		<dict>
			<key>NAME</key>
			<string>Gravity Hole</string>
			<key>DESCRIPTION</key>
			<string>Gravity holes bend time for everyone stuck in them. It&apos;s not rare to leave one, thinking it&apos;s only been hours when it has instead been years</string>
			<key>ATTACK_LVL</key>
			<integer>3</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>100</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>SPACE_PARASITES</key>
		<dict>
			<key>NAME</key>
			<string>Space Parasite</string>
			<key>DESCRIPTION</key>
			<string>Space parasites latch onto passing space ships. They drain away the resources of the space ships until it can&apos;t do anything.</string>
			<key>ATTACK_LVL</key>
			<integer>3</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>100</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>PL</string>
		</dict>
		<key>ZOMBIE_FREIGHTER</key>
		<dict>
			<key>NAME</key>
			<string>Zombie Infested Freighter</string>
			<key>DESCRIPTION</key>
			<string>The zombieism infecting these freighters starts small and is easily cured with discipline. But lax standards cause the infection to spread</string>
			<key>ATTACK_LVL</key>
			<integer>3</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>100</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
	</dict>
	<key>GAS</key>
	<dict>
		<key>CLOUD_FORTRESS</key>
		<dict>
			<key>NAME</key>
			<string>Cloud Fortress</string>
			<key>DESCRIPTION</key>
			<string>Many explorers underestimate the cloud fortress because its weaponry is obscured. Smart explorers know to ask as many questions as needed</string>
			<key>ATTACK_LVL</key>
			<integer>5</integer>
			<key>DEFENSE_LVL</key>
			<integer>1</integer>
			<key>BASE_XP_REWARD</key>
			<integer>3</integer>
			<key>HP</key>
			<integer>150</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>POISON_CLOUD</key>
		<dict>
			<key>NAME</key>
			<string>Poison Cloud</string>
			<key>DESCRIPTION</key>
			<string>Poison Clouds engulf star ships and suffocate its crew with its toxic atmosphere. A star ship must escape the cloud and attack from outside</string>
			<key>ATTACK_LVL</key>
			<integer>5</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>2</integer>
			<key>HP</key>
			<integer>150</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>POISON_FAIRY</key>
		<dict>
			<key>NAME</key>
			<string>Poison Fairy</string>
			<key>DESCRIPTION</key>
			<string>Poison Fairies used to be space fairies but bad experiences knocked them into the toxic gas. They never got any help. Now they hate everyone</string>
			<key>ATTACK_LVL</key>
			<integer>5</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>2</integer>
			<key>HP</key>
			<integer>150</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>25</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
	</dict>
	<key>ALL</key>
	<dict>
		<key>MECH</key>
		<dict>
			<key>NAME</key>
			<string>Mech</string>
			<key>DESCRIPTION</key>
			<string>Mechs are prone to memory failures and most be constantly fighting lest they entirely lose the capacity to fight</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>50</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>10</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>PIRATES</key>
		<dict>
			<key>NAME</key>
			<string>Petty Space Pirates</string>
			<key>DESCRIPTION</key>
			<string>Space Pirates are easily pissed off and rash. Most of their fresh talent walks the space plank before even having a chance to learn</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>50</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>10</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>PL</string>
		</dict>
		<key>M_SCOUT</key>
		<dict>
			<key>NAME</key>
			<string>Malesterium Scouts</string>
			<key>DESCRIPTION</key>
			<string>These scouts scope the galaxy for vulnerable zones for the Malesterium to conquer. This empire has a weakness though -- their pride</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>50</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>10</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>SMALL_ASTEROID</key>
		<dict>
			<key>NAME</key>
			<string>Small Asteroid</string>
			<key>DESCRIPTION</key>
			<string>Small asteroids are merely distractions to the brave explorer, but even small distractions can ruin a spaceship&apos;s momentum.</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>50</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>10</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>SPACE_SLIME</key>
		<dict>
			<key>NAME</key>
			<string>Space Slime</string>
			<key>DESCRIPTION</key>
			<string>Space slimes when killed can be eaten and have a sweet taste but eating them tends to affect one&apos;s mood and motivations.</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>50</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>10</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>SPACEMAN</key>
		<dict>
			<key>NAME</key>
			<string>Spaceman</string>
			<key>DESCRIPTION</key>
			<string>These disgruntled spacemen are explorers who lost their way years ago, and they only want to pull others down to their level.</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>50</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>10</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
		<key>SPACE_FAIRY</key>
		<dict>
			<key>NAME</key>
			<string>Space Fairy</string>
			<key>DESCRIPTION</key>
			<string>Space Fairies love their independence, but they have no one to share their joy with, nor their sorrow</string>
			<key>ATTACK_LVL</key>
			<integer>1</integer>
			<key>DEFENSE_LVL</key>
			<integer>0</integer>
			<key>BASE_XP_REWARD</key>
			<integer>1</integer>
			<key>HP</key>
			<integer>50</integer>
			<key>TREASURE_DROP_RATE</key>
			<real>0.1</real>
			<key>ENCOUNTER_WEIGHT</key>
			<integer>10</integer>
			<key>GRAMMATICAL_AGREEMENT</key>
			<string>SC</string>
		</dict>
	</dict>
</dict>
</plist>
