<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>introbody</key>
	<string>		You are a part of the intrepid crew of a ship committed to exploring the far reaches of space and beyond. You help the ship by completing your daily to-dos and building productive habits for yourself.
	It may not be as exciting as shooting lasers and pushing buttons on holo-screens but it&apos;s just as important because if you don&apos;t complete your to-dos, the ship falls apart and when the ship falls apart, it&apos;s vulnerable to attack and when the ship gets attacked, it gets blown up, and when the ship blows up, people die. 
	Don&apos;t be the reason people die. Complete your spacedamned to-dos!</string>
	<key>intropre</key>
	<string>Welcome to Space Habit Frontier,</string>
	<key>intropost</key>
	<string>											Signed,
	Space Habit Command.
	</string>
</dict>
</plist>
