//
//  SHModelsConfig.xcconfig
//  SHModels
//
//  Created by Joel Pridgen on 2/24/19.
//  Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Configs/SHWorkspace.xcconfig"

FRAMEWORK_SEARCH_PATHS = $(inherited) $(SHCOMMON_DIR)

HEADER_SEARCH_PATHS = $(inherited) $(SHDATETIME_H_DIR)/Headers $(SHUTILS_C_H_DIR)/Headers $(SHSPECIAL_C_H_DIR)/Headers

//LD_NO_PIE = YES


//$(SHCOMMON_MODMAP_FLAG)

OTHER_CFLAGS = $(inherited) $(INTTYPES_MODMAP_FLAG) $(SHUTILS_C_MODMAP_FLAG) $(SHDATETIME_MODMAP_FLAG) $(SHSPECIAL_MODMAP_FLAG) 
