//
//  SHDatetimeConfig.xcconfig
//  SHDatetime
//
//  Created by Joel Pridgen on 2/24/19.
//  Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Configs/SHWorkspace.xcconfig"
#include "../Configs/C_Lib.xcconfig"

HEADER_SEARCH_PATHS = $(inherited) $(SHUTILS_C_H_DIR)/Headers $(inherited)


OTHER_CFLAGS = $(inherited) -fmodules $(INTTYPES_MODMAP_FLAG)


//LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
//
////LD_MAP_FILE_PATH = $(TARGET_TEMP_DIR)/$(PRODUCT_NAME)-LinkMap-$(CURRENT_VARIANT)-$(CURRENT_ARCH).txt
//
//DYLIB_INSTALL_NAME_BASE = @rpath
//
//LD_DYLIB_INSTALL_NAME = $(DYLIB_INSTALL_NAME_BASE:standardizepath)/$(EXECUTABLE_PATH)
