//
//  SHDatetimeConfig.xcconfig
//  SHDatetime
//
//  Created by Joel Pridgen on 2/24/19.
//  Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Configs/SHWorkspace.xcconfig"

FRAMEWORK_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/**

HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/** $(BUILT_PRODUCTS_DIR)$(C_PUBLIC_HEADERS)
