//
//  SHControlsSpecial.base.xcconfig
//  SHControlsSpecial
//
//  Created by Joel Pridgen on 3/31/19.
//  Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Configs/SHWorkspace.xcconfig"

SHCONTROLS_DIR = $(BUILT_PRODUCTS_DIR)/SHControls.framework
SHMODELS_DIR = $(BUILT_PRODUCTS_DIR)/SHModels.framework

FRAMEWORK_SEARCH_PATHS = $(SHCONTROLS_DIR) $(SHMODELS_DIR)

//HEADER_SEARCH_PATHS =
