//
//	SHWorkspace.xcconfig
//	SHCommon
//
//	Created by Joel Pridgen on 2/24/19.
//	Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


// Intermediate build files go here
PROJECT_TEMP_DIR = $(SRCROOT)/../../spacehabitrpg_output/build/$(PLATFORM_NAME)/$(PROJECT_NAME).build
//
//// Build-related files for the active build configuration go here
CONFIGURATION_BUILD_DIR = $(SRCROOT)/../../spacehabitrpg_output/build/$(PLATFORM_NAME)/$CONFIGURATION
//
//// The final product executables and other build products go here
BUILT_PRODUCTS_DIR = $(SRCROOT)/../../spacehabitrpg_output/build/$(PLATFORM_NAME)/$CONFIGURATION

//DERIVED_FILE_DIR = $(SRCROOT)/../../spacehabitrpg_output/derived/$(PLATFORM_NAME)/$CONFIGURATION

ALWAYS_SEARCH_USER_PATHS = NO

//:configuration = Debug
OTHER_CFLAGS = -Wall -Wextra

CODE_SIGN_IDENTITY = iPhone Developer

IPHONEOS_DEPLOYMENT_TARGET = 11.4

GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) IS_IOS=1

GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = $(inherited) IS_IOS=1

C_PUBLIC_HEADERS = /usr/local/include

//compiler-default
GCC_C_LANGUAGE_STANDARD = gnu11


//DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
//COPY_PHASE_STRIP = NO
//GCC_DYNAMIC_NO_PIC = NO
//GCC_NO_COMMON_BLOCKS = YES
//GCC_C_LANGUAGE_STANDARD = gnu11
//CLANG_CXX_LANGUAGE_STANDARD = gnu++14
//CLANG_CXX_LIBRARY = libc++
//CLANG_ENABLE_MODULES = YES
//CLANG_ENABLE_OBJC_ARC = YES
//ENABLE_NS_ASSERTIONS = NO

