//
//	SHCommonConfig.xcconfig
//	SHCommon
//
//	Created by Joel Pridgen on 2/24/19.
//	Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Configs/SHWorkspace.xcconfig"

//FRAMEWORK_SEARCH_PATHS = $(SHUTILS_C_H_DIR) $(SHDATETIME_H_DIR)

HEADER_SEARCH_PATHS = $(inherited) $(SHUTILS_C_H_DIR)/Headers $(SHDATETIME_H_DIR)/Headers

//LD_NO_PIE = YES

OTHER_CFLAGS = $(inherited) $(SHUTILS_C_MODMAP_FLAG) $(SHDATETIME_MODMAP_FLAG)
