//
//  SHCommonConfig.xcconfig
//  SHCommon
//
//  Created by Joel Pridgen on 2/24/19.
//  Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Configs/SHWorkspace.xcconfig"


FRAMEWORK_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/SHGlobal.framework

SHDATETIME_H_DIR = $(BUILT_PRODUCTS_DIR)/include/SHDatetime
SHUTILS_C_H_DIR = $(BUILT_PRODUCTS_DIR)/include/SHUtils_C

HEADER_SEARCH_PATHS = $(SHUTILS_C_H_DIR) $(SHDATETIME_H_DIR)

LD_NO_PIE = YES
