//
//  SHTestsConfig.xcconfig
//  TestUI
//
//  Created by Joel Pridgen on 2/24/19.
//  Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SHCOMMON_DIR = $(BUILT_PRODUCTS_DIR)/SHCommon.framework
SHGLOBAL_DIR = $(BUILT_PRODUCTS_DIR)/SHGlobal.framework
SHDATA_DIR = $(BUILT_PRODUCTS_DIR)/SHData.framework
SHMODELS_DIR = $(BUILT_PRODUCTS_DIR)/SHModels.framework
SHTESTCOMMON_DIR = $(BUILT_PRODUCTS_DIR)/SHTestCommon.framework

SHDATETIME_H_DIR = $(BUILT_PRODUCTS_DIR)/include/SHDatetime
SHUTILS_C_H_DIR = $(BUILT_PRODUCTS_DIR)/include/SHUtils_C
SHCORE_C_H_DIR = $(BUILT_PRODUCTS_DIR)/include/SHCore_C

FRAMEWORK_SEARCH_PATHS = $(SHCOMMON_DIR) $(SHGLOBAL_DIR) $(SHDATA_DIR) $(SHMODELS_DIR) $(SHTESTCOMMON_DIR) $(LIB_DIR)

HEADER_SEARCH_PATHS = $(SHDATETIME_H_DIR) $(SHUTILS_C_H_DIR) $(SHCORE_C_H_DIR)
