//
//  SHTestsConfig.xcconfig
//  TestUI
//
//  Created by Joel Pridgen on 2/24/19.
//  Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


FRAMEWORK_SEARCH_PATHS = $(SHCOMMON_DIR) $(SHMODELS_DIR) $(SHTESTCOMMON_DIR) $(LIB_DIR)

HEADER_SEARCH_PATHS = $(SHDATETIME_H_DIR) $(SHUTILS_C_H_DIR) $(SHSPECIAL_C_H_DIR)
