//
//  SHTestsConfig.xcconfig
//  TestUI
//
//  Created by Joel Pridgen on 2/24/19.
//  Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SHCOMMON_DIR = $(BUILT_PRODUCTS_DIR)/SHCommon.framework
SHGLOBAL_DIR = $(BUILT_PRODUCTS_DIR)/SHGlobal.framework
SHDATA_DIR = $(BUILT_PRODUCTS_DIR)/SHData.framework
SHMODELS_DIR = $(BUILT_PRODUCTS_DIR)/SHModels.framework
SHTESTCOMMON_DIR = $(BUILT_PRODUCTS_DIR)/SHTestCommon.framework
LIB_DIR = $PLATFORM_DIR/Developer/Library/Frameworks/

FRAMEWORK_SEARCH_PATHS = $(SHCOMMON_DIR) $(SHGLOBAL_DIR) $(SHDATA_DIR) $(SHMODELS_DIR) $(SHTESTCOMMON_DIR) $(LIB_DIR)

HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/** $(BUILT_PRODUCTS_DIR)/usr/local/include
