<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HabitRPG2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ObjCScriptRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27127DF91DDAC6F70074A8F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>271AB3261F7A29AE00D30521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>271AB3551F9CE89A00D30521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>271AB3851F9CEA2500D30521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2737AF491F79F30B000FCFD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2737AF571F79F377000FCFD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2737AF651F7A1FB2000FCFD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2737AF731F7A2068000FCFD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2737AF811F7A2181000FCFD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>274A37C21F107ACE00F31E0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>274A37D91F14364600F31E0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>277ABED91E96F68E008CC239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C92C031E2757F80025727E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68F3F9A81D70E82E00840DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
