//
//	ObjCPlayground.base.xcconfig
//	ObjCPlayground
//
//	Created by Joel Pridgen on 3/2/19.
//	Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Configs/SHWorkspace.xcconfig"
#include "../Configs/MacOSArchs.xcconfig"

FRAMEWORK_SEARCH_PATHS = $PLATFORM_DIR/Developer/Library/Frameworks/ $(SHCOMMON_DIR) $(SHMODELS_DIR) $(SHTESTCOMMON_DIR)

HEADER_SEARCH_PATHS = $(SHDATETIME_H_DIR)

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks $PLATFORM_DIR/Developer/Library/Frameworks/

OTHER_CFLAGS =

GCC_WARN_UNUSED_VARIABLE = NO

//DYLIB_INSTALL_NAME_BASE = @rpath

