//
//  TestCommonConfig.xcconfig
//  TestCommon
//
//  Created by Joel Pridgen on 2/25/19.
//  Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Configs/SHWorkspace.xcconfig"

SHMODELS_DIR = $(BUILT_PRODUCTS_DIR)/SHModels.framework
LIB_DIR = $PLATFORM_DIR/Developer/Library/Frameworks/

SHDATETIME_H_DIR = $(BUILT_PRODUCTS_DIR)/include/SHDatetime
SHUTILS_C_H_DIR = $(BUILT_PRODUCTS_DIR)/include/SHUtils_C
SHSPECIAL_C_H_DIR = $(BUILT_PRODUCTS_DIR)/include/SHSpecial_C
HEADER_SEARCH_PATHS = $(SHDATETIME_H_DIR) $(SHUTILS_C_H_DIR) $(SHSPECIAL_C_H_DIR)

FRAMEWORK_SEARCH_PATHS = $(SHMODELS_DIR) $(LIB_DIR)


//HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/**

