//
//  SHControls.base.xcconfig
//  SHControls
//
//  Created by Joel Pridgen on 3/30/19.
//  Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Configs/SHWorkspace.xcconfig"

FRAMEWORK_SEARCH_PATHS = $(SHCOMMON_DIR)

HEADER_SEARCH_PATHS =

LD_NO_PIE = YES
