//
//  SpaceHabitRPG.base.xcconfig
//  SpaceHabitRPG
//
//  Created by Joel Pridgen on 3/31/19.
//  Copyright © 2019 Joel Gillette. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Configs/SHWorkspace.xcconfig"

SHCOMMON_DIR = $(BUILT_PRODUCTS_DIR)/SHCommon.framework
SHMODELS_DIR = $(BUILT_PRODUCTS_DIR)/SHModels.framework
SHCONTROLS_DIR = $(BUILT_PRODUCTS_DIR)/SHControls.framework
SHCONTROLS_SP_DIR = $(BUILT_PRODUCTS_DIR)/SHControlsSpecial.framework

FRAMEWORK_SEARCH_PATHS = $(SHCOMMON_DIR) $(SHMODELS_DIR) $(SHCONTROLS_DIR) $(SHCONTROLS_SP_DIR)

HEADER_SEARCH_PATHS =  $(BUILT_PRODUCTS_DIR)$(C_PUBLIC_HEADERS)

//LIBRARY_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/include/SHCore_C
